site_name: MISP galaxy 
site_url: https://misp-galaxy.org
site_description: The public knowledge base of MISP galaxy - for threat intelligence, intelligence, cybersecurity models and information sharing. 
copyright: Copyright &copy; 2015 - 2024 MISP Project - License for the <a href="https://github.com/MISP/misp-galaxy">MISP galaxy</a> is CC0 or 2-clause BSD. 
#repo_url: https://github.com/MISP/misp-galaxy  - wtf is mkdocs searching for the master branch
theme:
  name: material
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  features:
    - navigation.footer
    - search.highlight
    - search.share
    - navigation.instant.preview
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - tables
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/mastodon 
      link: https://misp-community.org/@misp
    - icon: fontawesome/brands/github
      link: https://github.com/misp
  generator: false

extra_javascript:
  # - javascripts/tablefilter.js
  - "https://unpkg.com/tablefilter@0.7.3/dist/tablefilter/tablefilter.js"
  - "https://d3js.org/d3.v6.min.js"
  - javascripts/d3.js

plugins:
  - search
  - rss
  - awesome-pages
    #- git-committers:
#    branch: main
